body {
  font-family: sans-serif;
}

input {
  border-radius: 10px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 10px;
  border: none;
  padding: 4px 16px;
  background-color: ivory;
}

button:hover {
  background-color: lightcoral;
  color: #fff;
  cursor: pointer;
}

li {
  margin-right: 4px;
}

.header-area {
  background-color: indianred;
  text-align: left;
  width: 400px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.input-area {
  background-color: aqua;
  width: 400px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.uncomplete-area {
  background-color: aquamarine;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.completed-area {
  background-color: burlywood;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
